/*
CSS Module
ChatHeader
*/
.chat-header {
  height: 123px;
}

.chat-header > h1 {
  margin: 0;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;

  background: rgba(251, 249, 255, 1.0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  text-align: center;
  font-family: Comfortaa;
}

.chat-header button.leave-room {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-radius: 0;
}