/*
CSS Module
Admin
*/
#admin-panel td {
  word-break: break-word;
}

#admin-panel .content-block > button {
  border-radius: 0;
}

#admin-panel td button {
  min-width: initial;
  background: initial;
}

#admin-panel td button:hover {
  background: rgba(0, 0, 0, 0.05);
}

#admin-panel tbody tr:nth-child(2n+1) {
  background: rgba(245, 245, 245, 1.0);
}

#admin-panel td button ~ button {
  margin-top: 5px;
}

#admin-panel td input,
#admin-panel td select  {
  width: 100%;
}

#admin-panel div.content-block.search-bar {
  background: rgba(230, 230, 230, 1.0);
}

#admin-panel div.content-block.tabs {
  background: rgba(240, 240, 240);
}

#admin-panel div[class*='MuiTablePagination-actions'] button {
  min-width: initial;
  background: initial;
}

#admin-panel div[class*='MuiTablePagination-actions'] button:hover {
  background: rgba(0, 0, 0, 0.05);
}

#admin-panel div[class*='MuiTablePagination-actions'] {
  padding: 0 25px;
}